---
import GithubIcon from "~/assets/icons/github.svg";
import GotoIcon from "~/assets/icons/goto.svg";

export interface Props {
  github: string;
  deploy: string;
  title: string;
  description: string;
  technologies: string;
}

const { github, deploy, title, description, technologies } = Astro.props;
---

<li class="rounded-md p-4 w-full">
  <section class="flex gap-3">
    <a class="link" href={github} target="_blank">
      <img src={GithubIcon} alt="Link a GitHub" />
    </a>
    <a class="link" href={deploy} target="_blank">
      <img src={GotoIcon} alt="Link al despliegue" />
    </a>
  </section>
  <section class="mt-2">
    <h2 class="font-bold text-2xl">{title}</h2>
    <p class="description text-lg">{description}</p>
  </section>
  <section class="footer mt-2">
    <p class="technologies font-bold text-sm" title={technologies}>
      {technologies}
    </p>
  </section>
</li>

<style>
  li {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
  }

  .link {
    transition: all 350ms ease-out;
  }

  .link img {
    height: 25px;
    width: 25px;
  }

  .link:hover {
    transition: all 250ms ease-in;
    transform: scale(1.1);
  }

  h2 {
    color: var(--color-light-blue);
  }

  .description {
    color: var(--color-white);
  }

  .technologies {
    color: var(--color-light-gray);
  }
</style>
