---
import Link, { LINK_COLORS } from "~/common/Link.astro";
import Logo from "~/icons/Logo.astro";
import MenuBurguer from "~/icons/MenuBurguer.astro";
import CloseIcon from "~/icons/Close.astro";
import menuItems from "~/data/menu.json";
---

<section id="full-menu" class="full-menu w-full h-screen left-0 top-0 hidden">
  <section class="flex justify-end items-center py-3 px-2">
    <CloseIcon id="close-menu-button" />
  </section>
  <section class="text-center flex flex-col gap-3">
    {
      menuItems.map((item) => {
        const { to, title, props } = item;
        return (
          <Link to={to} {...props}>
            {title}
          </Link>
        );
      })
    }
  </section>
</section>
<header>
  <section class="text-center text-black text-lg bg-red-100 py-3 px-2 mb-3">
    <p>Este portafolio sigue en construcción 🏗️</p>
    <p>
      Pero puedes ver alguno de mis <a
        class="underline text-blue-500 font-bold"
        href="#projects">proyectos</a
      > 🙌
    </p>
  </section>
  <section class="top-menu flex items-center justify-between">
    <div class="flex items-center gap-3">
      <section class="flex items-center gap-3">
        <Logo />
      </section>
      <section class="desktop-links flex items-center gap-3">
        {
          menuItems.map((item) => {
            const { to, title, props } = item;
            return (
              <Link to={to} {...props}>
                {title}
              </Link>
            );
          })
        }
      </section>
    </div>
    <div>
      <section class="desktop-links">
        <Link color={LINK_COLORS.BLUE} to="mailto:geaglts@gmail.com">
          geaglts@gmail.com
        </Link>
      </section>
      <section class="mobile-links">
        <MenuBurguer id="open-menu-button" />
      </section>
    </div>
  </section>
</header>

<style>
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1a1a1a9a;
    backdrop-filter: blur(12px);
    z-index: 1;
  }

  .top-menu {
    max-width: 980px;
    margin: 0 auto;
  }

  .full-menu {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(12px);
  }

  .hidden {
    display: none;
  }

  .show {
    z-index: 2;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
  }

  .mobile-links {
    display: none;
  }

  @media (max-width: 1080px) {
    .top-menu {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: 720px) {
    .desktop-links {
      display: none;
    }
    .mobile-links {
      display: block;
    }
  }
</style>

<script>
  const $ = (element: string) => {
    return document.querySelector(element) || document.createElement("div");
  };

  const fullMenu = $("#full-menu");
  const openMenuButton = $("#open-menu-button");
  const closeMenuButton = $("#close-menu-button");

  openMenuButton.addEventListener("click", (evt) => {
    fullMenu.classList.add("show");
    fullMenu.classList.remove("hidden");
    document.body.style.overflow = "hidden";
  });

  closeMenuButton.addEventListener("click", (evt) => {
    fullMenu.classList.add("hidden");
    fullMenu.classList.remove("show");
    document.body.style.overflow = "auto";
  });
</script>
